#main_content a {
  color: #c5000c;
}
#main_content a:hover {
  color: #d5000d;
}

#main_content {
  color: #5e5e5e;
}

ol li p, ul li p {
  display: inline-block;
}

#main_content blockquote {
  font-size: 1.2em;
}

/* help from http://richleland.github.io/pygments-css/ */
pre.highlight {
  background: #fff;
}

pre.highlight code {
  color: #000;
  background-color: #fff;
}
